$arizonia : 'Arizonia',
cursive;
$bungee: 'Bungee Shade',
    cursive;
$fleurDeLeah: 'Fleur De Leah',
    cursive;
$frijole: 'Frijole',
    cursive;
$hennyPenny: 'Henny Penny',
    cursive;
$lobster: 'Lobster',
    cursive;
$nosifer: 'Nosifer',
    cursive;
$rougeScript: 'Rouge Script',
    cursive;
$rubikWetPaint: 'Rubik Wet Paint',
    cursive;
$rye: 'Rye',
    cursive;
$bilbo: 'Bilbo',
    cursive;