@import "colors";
@import "fonts";


.drink-host {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 150px;
    box-shadow: 0px 0px 2px grey;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 8px;
}

.drink-img {
    display: block;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.drink-data-host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.drink-name {
    text-align: center;
    font-family: $fondamento;
    font-size: 20px;
    color: $secondary;
    text-shadow: 0px 0px .7px black;
    margin-top: 5px;
}

.drink-category {
    font-family: $lobster;
    color: $primary;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.drink-price {
    text-align: center;
    font-family: $bungee;
    font-size: 12px;
}

.btn-add-drink {
    display: block;
    margin-inline: auto;
    background-color: $primary;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    color: rgb(255, 233, 233);
    font-family: $lobster;
    margin-top: 10px;
    cursor: pointer;
}

// .drink-list-host {
//     height: 100%;
//     width: 100%;
//     overflow-x: hidden;
//     overflow-y: scroll;
//     scroll-behavior: smooth;
//     scrollbar-width: none;
// }

// .drink-list-host::-webkit-scrollbar {
//     display: none;
// }

.drink-filter-host {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
    background-color: $primary;
    padding: 5px 5px;
    box-shadow: 0px -2px 3px grey;
    transition: all .7s ease;
}

.drink-filter {
    width: 40%;
    background-color: rgb(255, 192, 98);
    border: solid 2px rgb(165, 69, 0);
    border-radius: 5px;
    padding: 3px 13px;
    color: aliceblue;
    font-family: $lobster;
    text-align: center;
    cursor: pointer;
}

.drink-filter-host.show {
    bottom: 0px;
}

.drink-filter-host.hide {
    bottom: -100%;
}