@import "colors";
@import "fonts";

.dish-host {
    border-radius: 10px;
    box-shadow: 0px 0px 2px grey;
    overflow: hidden;
    margin-bottom: 20px;
}

.dish-data-host {
    padding: 10px;
    overflow: hidden;
}

.dish-img {
    width: 100% !important;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.name-price-host {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-category-host {
    flex-shrink: 1;
    flex-grow: 1;
}

.list-dish-price {
    flex-shrink: 0;
    flex-grow: 0;
}

.list-dish-name {
    font-family: $arizonia;
    color: $primary;
    font-size: 25px;
    text-shadow: 0px 0px .7px black;
}

.list-dish-category {
    font-family: $lobster;
    color: $secondary;
    font-size: 13px;
}

.list-dish-price {
    font-family: $bungee;
    font-size: 12px;
    color: $secondary;
}

.food-options-root {
    display: none;
    margin-top: 7px;

    h5 {
        font-family: $lobster;
        color: rgb(88, 88, 88);
        margin-left: 25px;

    }
}

.food-options-root.show {
    display: block;
}

.food-option-host {
    display: block;
    font-family: $lobster;
    color: rgb(88, 88, 88);
    margin-top: 3px;
    margin-bottom: 8px;
    cursor: pointer;

    input {
        margin-right: 10px;
    }

    input:checked {
        color: gray;
    }

    input::-ms-check {
        color: gray;
    }
}

.pref-inp {
    outline: solid 1.5px $primary;
    border: solid 1.5px $primary;
    display: block;
    margin-inline: auto;
    border-radius: 5px;
    margin-bottom: 7px;
    margin-top: 10px;
    resize: none;
}

.food-btns-host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    button {
        margin-inline: 15px;
    }
}

.btn-serve-with {
    background-color: $primary;
    color: rgb(190, 0, 0);
    font-family: $lobster;
    border-radius: 20px;
    border: unset;
    padding: 3px 10px;
    cursor: pointer;
}

.btn-add-food {
    background-color: $secondary;
    color: wheat;
    font-family: $lobster;
    border-radius: 20px;
    border: unset;
    padding: 3px 10px;
    cursor: pointer;
}

.food-filter-host {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    background-color: $secondary;
    padding: 5px 5px;
    box-shadow: 0px -2px 3px grey;
    transition: all .7s ease;
}

.food-filter {
    background-color: rgb(248, 109, 123);
    border: solid 2px rgb(133, 0, 13);
    border-radius: 5px;
    padding: 3px 13px;
    color: aliceblue;
    font-family: $lobster;
    text-align: center;
    cursor: pointer;
}

.food-filter-host.show {
    bottom: 0px;
}

.food-filter-host.hide {
    bottom: -100%;
}