@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Bilbo&family=Bungee+Shade&family=Fleur+De+Leah&family=Frijole&family=Henny+Penny&family=Lobster&family=Nosifer&family=Rouge+Script&family=Rubik+Wet+Paint&family=Rye&display=swap');


@import "fonts";
@import "colors";

* {
	box-sizing: border-box;
	margin: 0;
	font-family: sans-serif;
}

.home-root {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.top-padding {
	min-height: 60px;
	min-width: 100%;
}