@import "fonts";
@import "colors";

.menulist-root {
    width: 100vw;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.menu-host {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

.menu-tab-layout {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 99;

    .tab {
        flex-basis: 50%;
        flex-grow: 1;
        cursor: pointer;
        position: absolute;
        top: 0px;
        height: calc(100% + 2px);
        width: 46%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            font-family: $lobster;
            color: gray;
        }
    }
}

.food-tab {
    left: 8px;
    position: relative;
}

.food-filter-btn {
    position: absolute;
    top: 7px;
    right: 10px;
    color: gray;
    width: min-content;
    height: min-content;
    cursor: pointer;
}

.food-tab.active {
    background-color: rgb(253, 240, 215);
    border-top: solid 2px $secondary;
    border-left: solid 2px $secondary;
    border-right: solid 2px $secondary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h4 {
        color: $secondary;
    }

    .food-filter-btn {
        color: $secondary;
    }
}

.drink-tab {
    right: 8px;
    position: relative;
}

.drink-filter-btn {
    position: absolute;
    top: 7px;
    left: 10px;
    color: gray;
    width: min-content;
    height: min-content;
    cursor: pointer;
}

.drink-tab.active {
    background-color: rgb(255, 233, 233);
    border-top: solid 2px $primary;
    border-left: solid 2px $primary;
    border-right: solid 2px $primary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h4 {
        color: $primary;
    }

    .drink-filter-btn {
        color: $primary;
    }
}

.menu-list-host {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    padding-inline: 8px;
    padding-bottom: 8px;
}

.list {
    width: 100%;
    height: 100%;
    position: relative;
}

.list-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-inline: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.list-wrapper::-webkit-scrollbar {
    display: none;
}

.food-list {
    background-color: rgb(253, 240, 215);
    border: solid 2px $secondary;
    padding-top: 15px;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.drink-list {
    background-color: rgb(255, 233, 233);
    border: solid 2px $primary;
    padding-top: 15px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-show {
    display: block;
}

.list-hide {
    display: none;
}