@import "fonts";
@import "colors";

.navbar {
	width: 100%;
	padding: 10px 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: transparent;
	position: absolute;
	top: 0px;
}

.brand {
	font-family: $nosifer;
}

.logo {
	width: 40px;
	height: 40px;
	object-fit: contain;
	font-size: 15px;
}

.sweet {
	margin-right: 5px;
	color: $primary;
}

.savour {
	margin-left: 5px;
	color: $secondary;
}