@import "fonts";
@import "colors";

.slide3 {
    background-color: rgba($color: silver, $alpha: 0.3);

}

.slide3-lick {
    width: 60px;
    height: 60px;
    object-fit: contain;
    bottom: 0px;
    left: 12px;
    position: absolute;
}

.slide3-intro-text {
    text-align: center;
    font-size: 17px;
    font-family: $bilbo;
    color: rgb(104, 104, 104);

}

.slide3-intro-text:last-of-type {
    margin-bottom: 5px;
}

.slide3-dish-name {
    text-align: center;
    font-family: $fleurDeLeah;
    font-size: 21px;
    margin-top: 5px;
    color: $primary;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
}

.slide3-img {
    border: solid 2px $primary;
}

.slide3-description-text {
    text-align: center;
    font-family: $arizonia;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(104, 104, 104);
    text-shadow: 0px 0px 3px greenyellow;
    margin-inline: 15px;
}

.slide3-order-btn {
    background-color: $secondary;
    color: $primary;
    border: solid 2px $primary;
    border-radius: 20px;
    padding: 2px 20px;
    margin-top: 5px;
    font-family: $rye;
    font-size: 18px;
}

.slide3-order-btn:hover {
    background-color: $primary;
    color: white;
}

@media screen and (min-height: 650px) {
    .slide3-intro-text {
        font-size: 22px;

    }

    .slide3-intro-text:last-of-type {
        margin-bottom: 15px;
    }

    .slide3-dish-name {
        font-size: 32px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-inline: 10px;
    }

    .slide3-description-text {
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-inline: 10px;
    }

    .slide3-order-btn {
        margin-top: 10px;
        font-size: 20px;
    }

    .slide3-lick {
        width: 80px;
        height: 80px;
        bottom: 10px;
        left: 15px;
    }
}