@import "fonts";
@import "colors";

.slide3 {
    background-color: rgba($color: silver, $alpha: 0.3);

}

.slide3-lick {
    width: 60px;
    height: 60px;
    object-fit: contain;
    bottom: 0px;
    left: 12px;
    position: absolute;
}

.slide3-intro-text {
    text-align: center;
    font-size: 17px;
    font-family: $bilbo;
    color: rgb(104, 104, 104);

}

.slide3-intro-text:last-of-type {
    margin-bottom: 5px;
}

.slide3-dish-name {
    text-align: center;
    font-family: $fleurDeLeah;
    font-size: 21px;
    margin-top: 2px;
    color: $primary;
    margin-bottom: 2px;
    letter-spacing: 1.5px;
}

.slide3-img {
    border: solid 2px $primary;
}

.slide3-description-text {
    text-align: center;
    font-family: $arizonia;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(104, 104, 104);
    text-shadow: 0px 0px 3px greenyellow;
    margin-inline: 10px;
}

.slide3-order-btn {
    background-color: $secondary;
    color: $primary;
    border: solid 2px $primary;
    border-radius: 20px;
    padding: 2px 20px;
    margin-top: 2px;
    font-family: $rye;
    font-size: 18px;
    cursor: pointer;
}

.slide3-order-btn:hover {
    background-color: $primary;
    color: white;
}